body{
    background-color: lightgray;
    text-align: center;
    border: 1px solid black;
    width: 960px;
    margin: auto;
  }
  
  main {
      display: flex;
      /* flex-direction: row; */
      /* flex-wrap: wrap; */
      /* flex-flow: row-reverse nowrap;*/
      justify-content: space-between;
  }

  #left {
      order: 1;
  }

  #main {
      order: 2;
  }

  #right {
      order: 3;
  }

  