<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1><%= Title %></h1>
    <p><a href="/">Home</a></p>
    <ul>
      <% listOfFruites.forEach(fruite => { %>
        <li><%= fruite  %></li>
      <% }); %>
    </ul>
    <!-- <ul>
      <li>Apples</li>
      <li>Pears</li>
      <li>Bananas</li>
    </ul> -->
  </body>
</html>
